.payment-content{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.payment-content-left{
    width: max(30%,500px);
    padding: 20px 15px;
}

.items{
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.items img{
    width: 60px;
}

.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.total p{
    font-size: max(30px,25px);
}
.payment-content-right{
    width: 600px;
    padding: 20px 10%;
    display: flex;
    flex-direction: column;
    
}
.box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.box1{
    display: flex;
    gap: 50px;
    margin-top: 20px;
}
.card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 4px;
}
.card input{
    outline: none;
    border: none;

}
.box p{
    margin-bottom: 5x;
}
.box input{
    padding: 10px 5px;
    border-radius: 4px;
    outline: none;
    
}

.box input:hover{
    border-color: tomato;
}
.card img{
    width: 20px;
    border-radius: 0px 4px 0px 4px;
}
.card:hover{
    border-color: tomato;
}

.payment-content-right button{
    width: 400px;
    text-align: center;
    margin-top: 30px;
    padding: 10px 0px;
    background-color: tomato;
}

.payment-content-right button:hover{
    border-color: white;
    color: white;
}

@media (max-width:1050px) {
    .payment-content{
        width: 80%;
        display: flex;
        flex-direction: column;
    }
    
}


@media (max-width:700px) {
    .payment-content-left{
        width: 300px;
    }
    .payment-content-right{
        width: 300px;
    }
    .payment-content-right button{
        align-items: center;
        width: 250px;
    }
    .box1{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}